<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoicer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{call .GetAbsPath "./assets/bootstrap.css"}}">
    <style>
        @page {
            margin: 0;
            padding: 0;
            size: 8.5in 11in;
        }

        @font-face {
            font-family: 'fira-code-mono';
            src: url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-regular-mono.ttf"}}) format('woff2'),
            url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-regular-mono.ttf"}}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'fira-code-mono';
            src: url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-bold-mono.ttf"}}) format('woff2'),
            url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-bold-mono.ttf"}}) format('woff');
            font-weight: bold;
            font-style: normal;
        }
    </style>
</head>
<body style="font-family: 'fira-code-mono',monospace; width: 1062px; height: 1374px;" class="py-5 px-4">
<main role="main" class="container" style="overflow: hidden;">
    <!-- Header stuff -->

    <div class="row">
        <div class="col">
            <strong>{{.Owner.Name}}</strong><br>
            {{.Owner.Street}}<br>
            {{.Owner.City}}, {{.Owner.Province}}<br>
            {{.Owner.PostalCode}}
        </div>
        <div class="col">
            <div class="row">
                <div class="col font-weight-bold text-right" style="font-size: 80px; line-height: 1em;">
                    INVOICE
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <strong>INVOICE #</strong> 12345 | <strong>DATE:</strong> 05/05/2019
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-4 mb-4">
    <!-- Bill To -->
    <div class="row p-2 m-0" style="background-color: #c2c2c2">
        <div class="col-2">
            <strong>Billed To:</strong>
        </div>
        <div class="col">
            {{.BilledTo.Name}}<br>
            {{.BilledTo.Street}}<br>
            {{.BilledTo.City}}, {{.BilledTo.Province}}<br>
            {{.BilledTo.PostalCode}}
        </div>
    </div>

    <!-- Expenses Table -->
    <div class="row mt-4">
        <div class="col">
            <h3>Expenses</h3>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col" style="width:15%">Quantity</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="width:15%" class="text-right">Unit Price</th>
                    <th scope="col" style="width:15%" class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {{range .ExpenseList}}
                    <tr>
                        <td>{{.Quantity}}</td>
                        <td>{{.Description}}</td>
                        <td class="text-right">{{call $.AsCurrency .UnitPrice}}</td>
                        <td class="text-right">{{call $.AsCurrency .TotalCost}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td colspan="4" class="text-right">
                        Total: {{call .ExpensesSubtotal .ExpenseList | call .AsCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Labour Table -->
    <div class="row">
        <div class="col">
            <h3>Labour</h3>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 15%;">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {{range .LabourList}}
                    <tr>
                        <td>{{.Date.Format "Jan 02, 2006"}}</td>
                        <td>{{.Description}}</td>
                        <td class="text-right">{{call $.AsCurrency .Amount}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td colspan="3" class="text-right">
                        Total: {{call .LabourSubtotal .LabourList | call .AsCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer style="position: absolute; bottom: 0; height: 30px; font-size: 10px;" class="mb-4">
    <div class="container">
        Phone: {{.Owner.Phone}} <br>
        Email: {{.Owner.Email}}
    </div>
</footer>
</body>
</html>