<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoicer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{call .GetAbsPath "./assets/bootstrap.css"}}">
    <style>
        @font-face {
            font-family: 'fira-code-mono';
            src: url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-regular-mono.ttf"}}) format('woff2'),
            url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-regular-mono.ttf"}}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'fira-code-mono';
            src: url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-bold-mono.ttf"}}) format('woff2'),
            url({{call .GetAbsPath "./assets/fonts/FiraCode/fira-code-bold-mono.ttf"}}) format('woff');
            font-weight: bold;
            font-style: normal;
        }
    </style>
</head>
<body style="font-family: 'fira-code-mono',monospace; width: 1062px; height: 1374px; overflow: hidden; padding: 35px 25px">
<div class="container" style="overflow: hidden;">
    <!-- Header stuff -->

    <div class="row">
        <div class="col">
            {{.Owner.Name}}<br>
            {{.Owner.Street}}<br>
            {{.Owner.City}}, {{.Owner.Province}}<br>
            {{.Owner.PostalCode}}
        </div>
        <div class="col">
            <div class="row">
                <div class="col font-weight-bold">
                    INVOICE
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>INVOICE #</strong> 12345 | <strong>DATE:</strong> 05/05/2019
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Bill To -->
    <div class="row">
        <div class="col-2">
            Billed To:
        </div>
        <div class="col">
            {{.BilledTo.Name}}<br>
            {{.BilledTo.Street}}<br>
            {{.BilledTo.City}}, {{.BilledTo.Province}}<br>
            {{.BilledTo.PostalCode}}
        </div>
    </div>

    <!-- Expenses Table -->
    <div class="row">
        <div class="col">
            <h3>Expenses</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width:15%">Quantity</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="width:15%" class="text-right">Unit Price</th>
                    <th scope="col" style="width:15%" class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                {{range .Expenses}}
                    <tr>
                        <td>{{.Quantity}}</td>
                        <td>{{.Description}}</td>
                        <td class="text-right">{{call $.AsCurrency .UnitPrice}}</td>
                        <td class="text-right">{{call $.AsCurrency .TotalCost}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td colspan="4" class="text-right">
                        Total: {{call .ExpensesSubtotal .Expenses | call .AsCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Labour Table -->
    <div class="row">
        <div class="col">
            <h3>Labour</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 15%">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                {{range .Labours}}
                    <tr>
                        <td>{{.Date.Format "Jan 01, 2006"}}</td>
                        <td>{{.Description}}</td>
                        <td class="text-right">{{call $.AsCurrency .Amount}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td colspan="3" class="text-right">Total: {{call .LabourSubtotal .Labours | call .AsCurrency}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>